################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Primus.Autoamtion.Core.UI/.vs/Primus.Autoamtion.Core.UI
/Primus.Autoamtion.Core.UI/obj/Debug/net8.0/Primus.Autoamtion.Core.UI.AssemblyInfo.cs
/Primus.Autoamtion.Core.UI/obj/Debug/net8.0/Primus.Autoamtion.Core.UI.AssemblyInfoInputs.cache
/Primus.Autoamtion.Core.UI/obj/Debug/net8.0/Primus.Autoamtion.Core.UI.assets.cache
/Primus.Autoamtion.Core.UI/obj/Debug/net8.0/Primus.Autoamtion.Core.UI.GeneratedMSBuildEditorConfig.editorconfig
*.suo
/Primus.Autoamtion.Core.UI/bin/Debug
/Primus.Autoamtion.Core.UI/bin/Debug
Primus.Autoamtion.Core.UI/bin/Debug/net6.0/nunit_random_seed.tmp
Primus.Autoamtion.Core.UI/bin/Debug/net6.0/Primus.Autoamtion.Core.UI.dll
Primus.Autoamtion.Core.UI/bin/Debug/net6.0/Primus.Autoamtion.Core.UI.pdb
*.pdb
Primus.Autoamtion.Core.UI/obj/Debug/net6.0/Primus.Autoamtion.Core.UI.dll
